<h1>About</h1>
<hr>
<h2>Why Jucie?</h2>
<br>
<div class="row">
	<div class="col-md-7 ">
		<p class="bg-info">
			"Juice is beneficial for me to drink every day because obesity has been my huge struggle for many years. It suits me well for my weight loss and I love the fact that I can flush toxic out of my body and re-energizer my system. I live juice for life and balance with the healthy solid food."
			
		</p>
		<br>
			<span>-Melissa Locklear</span>
			<br>
		<br>
	</div>
</div>
<div class="row">
	<div class="col-md-7">
		<p class="bg-info">
			"I would prefer home made juice .. More natural, nutrients, and have anti bodies to fight against unwanted diseases. Manufactured juice are often misleading. I drink home made juice often"

		</p>
		<br>
			<span>-Clement Hon-Kit So</span>
			<br>
			<br>
	</div>
	
</div>

<div class="row">
	<div class="col-md-7">
		<p class="bg-info">
			"I only juice once in a while. I like the taste of certain juices. Because to help detox toxins out of my system."
		</p>
		<br>
			<span>-Sheri Ola</span>
			<br>
	</div>
	<br>
</div>

<div class="row">
	<div class="col-md-7">
		<p class="bg-info">
			"Juice is amazing!"
		</p>
		<br>
			<span>- Jonathan</span>
			<br>
	</div>
	<br>
</div>