<h1>Contact</h1>
<hr>
<div>
</div>
<form name="userForm" novalidate>
	<div class="form-group" ng-class="{ 'has-error': userForm.firstname.$invalid }" >
		<label>First Name:
			<input type="text" class="form-control" name="firstname" ng-model="user.fname" placeholder="{{user.fname}}" required />
		</label>
		<div ng-messages="userForm.firstname.$error" style="color:maroon" role="alert">
			<div ng-message="required">You did not enter a first name field</div>
		</div>
	</div>
	<div class="form-group" ng-class="{ 'has-error': userForm.lastname.$invalid }" >
		<label>Last Name:
			<input type="text" class="form-control" name="lastname" ng-model="user.lname" placeholder="{{user.lname}}" required />
		</label>

		<div ng-messages="userForm.lastname.$error" style="color:maroon" role="alert">
			<div ng-message="required">You did not enter a last name field</div>
		</div>
	</div>
	<div class="form-group" ng-class="{ 'has-error': userForm.UserEmail.$invalid }" >
		<label>Email Address:
			<input type="email" class="form-control" name="UserEmail" ng-model="user.email" placeholder="{{user.email}}" required />
		</label>
		<div ng-messages="userForm.UserEmail.$error" style="color:maroon" role="alert">
			<div ng-message="required">You did not enter an email field</div>
		</div>
	</div>
	<div class="form-group">
		<label for="messages">Messages:</label>
		<textarea class="form-control" rows="5" id="messages" ng-model="user.messages" ></textarea>
	</div>
	<div>
		<div class="form-group">
			<label>Preview:</label>
			<div>
				<span>  {{user.fname}} </span>
				<br>
				<span>  {{user.lname}} </span>
				<br>
				<span>  {{user.email}} </span>
				
				<br>
				<span>  {{user.messages}} </span>
				
				<br>
			</div>
		</div>
		<button type="submit" ng-click="submitClick()" class="btn btn-default">Submit</button>
	</form>