<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">Juice Délicieux
		</h1>
	</div>
</div>
<div class="row ">
	<div class="col-md-3 portfolio-item">
		<a href="#/benefits">
			<img class="img-responsive" src="images/orange_juice.png" alt="Benefits">
		</a>
	</div>
	<div class="col-md-3 portfolio-item">
		<a href="#/health">
			<img class="img-responsive" src="images/heart_juice.png" alt="Health">
		</a>
	</div>
	<div class="col-md-3 portfolio-item">
		<a href="#/ingredients">
			<img class="img-responsive" src="images/fruit_juice.png" alt="Ingreidents">
		</a>
	</div>
	<div class="col-md-3 portfolio-item">
		<a href="#/recipes">
			<img class="img-responsive" src=".images/recipes_juice.png" alt="Recipes">
		</a>
	</div>
</div>