

<div class="page-header"><h1><img class="img-thumbnail" src="images/heart_juice.png" alt="Health" style="
    width: 100px;
    height: auto;    margin-right: 10px;
">Health</h1></div>

<div class="input-group">
	<label>Search:</label>
	<input type="text" ng-model="searchText" class="form-control" placeholder="Search for...">
</div>
<br>

<div class="list-group" ng-repeat="item in healthCtrl.healthdata | filter:searchText">

<a href="#/health/{{item}}" class="list-group-item">
		{{item}}
	</a>

</div>